In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
from Data_Collect_32.process_data.data_pipeline import Data

In [5]:
data = Data()

Data collected
X is extracted
y is extracted
Data is split

In [6]:
data.y.describe()

                 up          down        nomove
count  16966.000000  16966.000000  16966.000000
mean       0.390664      0.393257      0.216079
std        0.487914      0.488487      0.411581
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        1.000000      1.000000      0.000000
max        1.000000      1.000000      1.000000

In [8]:
import plotly.express as px

In [17]:
data.y.sum(axis= 0)

up        6628
down      6672
nomove    3666
dtype: int64

In [22]:
data.X.shape

(16966, 3, 120)

In [24]:
data.y.shape

(16966, 3)