In [2]:


%load_ext autoreload
%autoreload 2
import pandas as  pd
import numpy as np

from data_cleaning import shift_close, create_label, drop_empty_window
from data_window import add_normalized_cols

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
df = pd.read_csv('../../data/Unprocessed_Data.csv')
print(df.shape)
df.head()

(1130, 33)

,Datum,close_price,open_price,high_price,low_price,rsi1,mfi1,tv1,sma1,williams1,...,williams3,regrs3,cci3,rsi4,mfi4,tv4,sma4,williams4,regrs4,cci4
0,21.10.2020 08:27:15,1.186,1.184,1.186,1.184,63.7,57.236496,1.0,1.177000,-0.000000,...,-0.000000,0.000213,NaN,56.9,57.205329,1.0,1.176143,-16.666667,0.085392,NaN
1,21.10.2020 16:41:05,1.188,1.186,1.188,1.186,65.8,64.408767,1.0,1.177714,-0.000000,...,-0.000000,0.102353,NaN,59.3,57.215723,1.0,1.176429,-0.000000,0.000213,NaN
2,22.10.2020 04:18:06,1.184,1.186,1.186,1.184,58.5,64.377526,1.0,1.178286,-22.222222,...,-0.000000,0.459986,NaN,61.5,57.226112,1.0,1.176714,-0.000000,0.102353,NaN
3,22.10.2020 13:34:12,1.182,1.184,1.184,1.182,55.3,64.346315,1.0,1.178857,-33.333333,...,-0.000000,0.699846,NaN,63.7,57.236496,1.0,1.177000,-0.000000,0.459986,NaN
4,23.10.2020 02:09:04,1.180,1.182,1.182,1.180,52.1,64.315135,1.0,1.179429,-44.444444,...,-22.222222,0.799837,NaN,65.8,64.408767,1.0,1.177714,-0.000000,0.699846,NaN

In [4]:
df = shift_close(df)
df = create_label(df)
df = drop_empty_window(df)
print(df.shape)
df.head()

(1113, 38)

,Datum,close_price,open_price,high_price,low_price,rsi1,mfi1,tv1,sma1,williams1,...,tv4,sma4,williams4,regrs4,cci4,next_close_price,next_open_price,diff,sample_weight,y
16,29.10.2020 14:51:06,1.168,1.170,1.170,1.168,37.2,21.497897,1.0,1.177143,-100.0,...,1.0,1.180571,-75.0,0.769574,-59.171598,1.166,1.168,-2.0,2.1,0
17,29.10.2020 16:23:14,1.166,1.168,1.168,1.166,35.1,21.518782,1.0,1.176000,-100.0,...,1.0,1.179571,-100.0,0.794750,-104.075979,1.170,1.168,4.0,2.1,1
18,30.10.2020 13:56:21,1.170,1.168,1.170,1.168,42.1,28.638555,1.0,1.175286,-80.0,...,1.0,1.178286,-100.0,0.794382,-128.544423,1.166,1.168,-4.0,2.1,0
19,30.10.2020 16:44:45,1.166,1.168,1.168,1.166,37.7,21.470278,1.0,1.174000,-100.0,...,1.0,1.177143,-100.0,0.822242,-147.311828,1.164,1.166,-2.0,2.1,0
20,30.10.2020 18:39:26,1.164,1.166,1.166,1.164,35.7,14.278754,1.0,1.172429,-100.0,...,1.0,1.176000,-100.0,0.872006,-166.666667,1.168,1.166,4.0,2.1,1

In [5]:
df2 = add_normalized_cols(df, [ "rsi","mfi","regrs","cci","sma","tv"], 4 )

In [6]:
df2.dropna()

,Datum,close_price,open_price,high_price,low_price,rsi1,mfi1,tv1,sma1,williams1,...,cci_norm_3,cci_norm_4,sma_norm_1,sma_norm_2,sma_norm_3,sma_norm_4,tv_norm_1,tv_norm_2,tv_norm_3,tv_norm_4
16,29.10.2020 14:51:06,1.168,1.170,1.170,1.168,37.2,21.497897,1.0,1.177143,-100.000000,...,24.727671,47.943321,0.000000,0.000285,0.000571,0.000856,0.0,0.0,0.0,0.0
17,29.10.2020 16:23:14,1.166,1.168,1.168,1.166,35.1,21.518782,1.0,1.176000,-100.000000,...,0.000000,36.420551,0.000142,0.000000,0.000285,0.000571,0.0,0.0,0.0,0.0
18,30.10.2020 13:56:21,1.170,1.168,1.170,1.168,42.1,28.638555,1.0,1.175286,-80.000000,...,75.963038,0.000000,0.000142,0.000142,0.000000,0.000285,0.0,0.0,0.0,0.0
19,30.10.2020 16:44:45,1.166,1.168,1.168,1.166,37.7,21.470278,1.0,1.174000,-100.000000,...,57.310116,3.752375,0.000142,0.000142,0.000142,0.000000,0.0,0.0,0.0,0.0
20,30.10.2020 18:39:26,1.164,1.166,1.166,1.164,35.7,14.278754,1.0,1.172429,-100.000000,...,0.000000,161.588670,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,07.06.2022 03:15:29,1.068,1.070,1.070,1.068,47.5,50.062289,1.0,1.070286,-66.666667,...,112.301964,204.526727,0.000000,0.000713,0.000999,0.001283,0.0,0.0,0.0,0.0
1109,07.06.2022 13:54:49,1.066,1.068,1.068,1.066,44.8,42.925809,1.0,1.069857,-83.333333,...,46.267700,98.161110,0.000000,0.000998,0.001711,0.001996,0.0,0.0,0.0,0.0
1110,07.06.2022 16:34:47,1.070,1.068,1.070,1.068,50.9,42.910564,1.0,1.069571,-50.000000,...,11.625623,38.171958,0.000000,0.001282,0.002280,0.002992,0.0,0.0,0.0,0.0
1111,08.06.2022 12:10:30,1.072,1.070,1.072,1.070,53.7,50.062322,1.0,1.069714,-33.333333,...,0.000000,10.487766,0.000000,0.001139,0.002421,0.003418,0.0,0.0,0.0,0.0
1112,08.06.2022 14:08:22,1.074,1.072,1.074,1.072,56.3,57.211517,1.0,1.070143,-16.666667,...,0.151443,0.000000,0.000000,0.001565,0.002704,0.003985,0.0,0.0,0.0,0.0